.chuyen-tien-quoc-te-banner {
  background-image: url("../images/chuyen-tien-quoc-te-banner.png"), url("../images/home-page-banner-overlay.png");
  background-size: cover;
  background-color: #000;
  background-position: center center;
  padding: 60px;
  min-height: 600px;
}
.chuyen-tien-quoc-te-banner .banner-title {
  font-size: 60px;
  line-height: 72px;
}

.chart-img {
  box-shadow: rgba(0, 0, 0, 0.626) 1.95px 1.95px 3px 2px;
}

.section-title {
  line-height: 60px;
}

.contact-us .input-phone {
  border: 1px solid #fff;
  width: 320px;
}
.contact-us .input-phone input::-moz-placeholder {
  color: #fff !important;
}
.contact-us .input-phone input::placeholder {
  color: #fff !important;
}

.news-swiper {
  width: 100%;
  position: relative;
}
.news-swiper .custom-swiper-button-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.news-swiper .custom-swiper-button-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.news-swiper .news-image {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.news-swiper .avatar-admin {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #1a1a1a;
}
.news-swiper .each-news {
  box-shadow: rgba(0, 0, 0, 0.626) 1.95px 1.95px 3px 2px;
}

.cases-swiper {
  width: 100%;
  position: relative;
}
.cases-swiper .custom-swiper-button-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.cases-swiper .custom-swiper-button-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.v95-product-card {
  box-shadow: rgba(0, 0, 0, 0.626) 1.95px 1.95px 3px 2px;
  padding: 50px 30px;
}

.v95-step-guide .step-toggle .fa-chevron-down {
  transition: 0.2s ease;
}
.v95-step-guide .step-toggle[aria-expanded=true] .fa-chevron-down {
  transform: rotateZ(180deg);
}

.suggest-pick-table td,
.suggest-pick-table th {
  border: 5px solid #fff;
}

.each-advantage {
  box-shadow: rgba(0, 0, 0, 0.626) 1.95px 1.95px 3px 2px;
  height: 100%;
}
.each-advantage img {
  max-width: 100%;
  display: block;
  margin: auto;
  min-width: 195px;
  margin-bottom: 16px;
}
.each-advantage p {
  height: 100px;
}

.each-case {
  position: relative;
  overflow: hidden;
  height: 350px;
}
.each-case .bg-f {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.each-case .bg-f2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  z-index: 2;
}
.each-case .case-desc {
  z-index: 3;
}

@media screen and (max-width: 520px) {
  .chuyen-tien-quoc-te-banner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .chuyen-tien-quoc-te-banner .banner-title {
    font-size: 28px;
    line-height: 28px;
  }
  .section-title {
    line-height: 110%;
  }
  .step-to-use {
    padding-top: 20px;
  }
  .contact-us h3 {
    text-align: center;
    margin-bottom: 16px;
  }
  .contact-us .input-phone {
    width: 100%;
    margin-bottom: 16px;
  }
  .v95-product-card {
    box-shadow: rgba(0, 0, 0, 0.626) 1.95px 1.95px 3px 2px;
    padding: 30px 20px;
  }
  .our-advantage .list-advantage {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
  .our-advantage .list-advantage .card-ea {
    width: calc(50% - 16px);
  }
  .our-advantage .list-advantage .card-ea img {
    min-width: unset;
  }
  .our-advantage .list-advantage .card-ea p {
    height: 80px;
  }
}/*# sourceMappingURL=chuyen-tien-quoc-te.css.map */