@mixin reset {
    margin: 0px;
    padding: 0px;
}
*{
    @include reset();
}
@mixin font($font,$size,$color,$weight,$line-height) {
    font-family: $font , sans-serif;
    font-size: $size;
    color: $color;
    font-weight: $weight;
    line-height: $line-height;
}
@keyframes slidex1 {
    0%{transform: translate(0%,0%);opacity: 0;}
    40%{transform: translate(50%,0%);opacity: 1}
    100%{transform: translate(200%,0%);opacity: 0.4;}
}
@keyframes slidex2 {
    0%{transform: translate(0%,0%);opacity: 0;}
    40%{transform: translate(-50%,0%);opacity: 1;}
    100%{transform: translate(-200%,0%);opacity: 0.4;}
}
@keyframes slidey1 {
    0%{transform: translate(0%,0%);opacity: 0;}
    40%{transform: translate(0%,50%);opacity: 1;}
    100%{transform: translate(0%,200%);opacity: 0.4;}
}
@keyframes slidey2 {
    0%{transform: translate(0%,0%);opacity: 0;}
    40%{transform: translate(0%,-50%);opacity: 1;}
    100%{transform: translate(0%,-200%);opacity: 0.4;}
}
@keyframes shop{
    0%{background-color: rgb(229, 236, 236);}
    20%{background-color: rgb(116, 240, 136);}
    40%{background-color: rgb(116, 240, 182);}
    60%{background-color: rgb(116, 240, 234);}
    80%{background-color: rgb(116, 205, 240);}
    100%{background-color: rgb(116, 139, 240);}
}
.f-italic{
    font-style: italic;
}
.f-normal{
    font-style: normal;
}
.pointer{
    cursor: pointer;
}
.text--center{
    text-align: center;
}
.container--fluid{
    max-width: 1600px;
    margin: 0px auto;
    width: 100%;
}
.container{
    width: 67%;
    margin: 0px auto;
}
.menu--toggle{
    width: 100%;
    text-align: right;
    height: 100%;
    line-height: 60px;
    position: fixed;
    top: 20px;
    right: 0px;
    padding: 10px 20px;
    font-size: 40px;
    background-color: transparent;
    color: rgb(79, 80, 80);
    display: none;
}
h4{
    letter-spacing: 4px;
    @include font('Lato', 18px, #353738, bolder, 34px );
}
p{
    @include font('Lato', 18px, #848789, normal, 34px );
}
.logo{
    display: block;
    margin: 0px auto;
}
// @include font('Lato', 16px, #999, normal, 24px );
// background: img position/size repeat attachment origin clip color
.heacer__content{
    @include reset();
    max-width: 1600px;
    height: 800px;
    background: url('./img/header-banner.png');
    background-position: center;
    margin: 0px auto;
    .header__menu{
        ul{
            display: flex;
            min-height: 160px;
            width: 50%;
            justify-content: space-between;
            align-items: center;
            margin: 0px auto;
            li{
                list-style-type: none;
                flex: 1 0 0px;
                text-align: center;
                position: relative;
                overflow: hidden;
                transition: 0.3s ease;
                a{
                    text-decoration: none;
                    @include font('Lato', 16px, #4d4959, bold,30px );
                }
                span{
                    position: absolute;  
                    visibility: hidden;
                    &:nth-child(odd){
                        width: 50%;
                        height: 1px;
                        background-color: rgb(112, 116, 115);
                    }
                    &:nth-child(even){
                        width: 1px;
                        height: 50%;
                        background-color: rgb(112, 116, 115);
                    }
                    &:nth-child(5){
                        top: 0px;
                        right: 0px;
                    }
                    &:nth-child(2){
                        bottom: 0px;
                        left: 0px;
                    }
                    &:nth-child(3){
                        bottom: 0px;
                        left: 0px;
                    }
                    &:nth-child(4){
                        top: 0px;
                        right: 0px;
                    }
                }
                &:hover{
                    transform: scale(1.2);
                    span{
                        visibility: visible;
                        &:nth-child(5){
                          animation: slidex2 1s ease-out infinite;
                        }
                        &:nth-child(2){
                          animation: slidey2 1s ease-out infinite;
                      }
                      &:nth-child(3){
                          animation: slidex1 1s ease-out infinite;
                      }
                      &:nth-child(4){
                          animation: slidey1 1s ease-out infinite;
                      } 
                      } 
                }
            }
            .dot::after{
                content: ".";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 50%;
                text-align: center;
                // transform: translateX(50%);
            }
        }
    }
}
.body__content--sec1{

    background-color: #f7f7f7;
    min-height: 470px;
    display: flex;
    align-items: center;
    .fa-twitter{
        color: #56c7ee;
        font-size: 26px;
    }
    .sub{
        @include font('Lato', 16px, #848789, lighter, 24px );
    }
}
$linetxt: line1-txt, line2-txt, line3-txt;
@each $ltxt in $linetxt {
    .#{$ltxt}{
        grid-area: $ltxt;
    }
}
.body__content--sec2{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(auto,1fr));
    grid-auto-rows: minmax(200px,1fr);
    grid-template-areas:'bike1 bike1 line1-txt'
                        'bike1 bike1 line1-txt'
                        'bike1 bike1 bike2'
                        'line2-txt bike3 bike3'
                        'line2-txt bike3 bike3'
                        'bike4 bike3 bike3'
                        'bike5 line3-txt bike6'
                        'bike5 line3-txt bike6'
                        'bike5 bike7 bike6';
    
    .big--img,.same-img{
            margin: 0px;
            width: 100%;
            height: 100%;
            position: relative;
            .logo{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

    
    .content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    position: relative;
    &::after{
        content: "";
        width: 10%;
        height: 2px;
        opacity: 0.7;
        align-self: center;
        margin-top: 20px;
        background: #d7d7d7;
    }
    &::before{
        content: "";
        z-index: 2;
        position: absolute;
        width: 0px;
        height: 0px;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        border-top: 20px solid #fff;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
    }
}
p{
    width: 75%;
    margin: 0px auto;
}
}


.fourthline{
    position: relative;
    ul{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        width: 80px;
        justify-content: space-between;
        li{
            list-style-type: none;
            height: 10px;
            width: 10px;
            border: 2px solid rgb(206, 206, 206);
            border-radius: 100%;
        }
        li:hover{
            background-color: rgb(206, 206, 206);
        }
    }
}
$bikes : bike1, bike2, bike3, bike4, bike5, bike6, bike7, bike8, bike9, bike10, bike11, bike12, bike13, bike14, bike15;
@each $bike in $bikes {
    .sec3-#{$bike}{
        background: url('./img/#{$bike}.png') center/cover;
        grid-area: $bike;
        position: relative;
    }
}

.body__content--sec3{
    min-height: 734px;
    .sec3--img{
        width: 100%;
        height: calc(100% - 200px);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto,1fr));
        grid-auto-rows: minmax(270px,1fr);
        grid-template-areas:'bike8 bike9 bike11 bike12 bike13 bike13'
                            'bike10 bike10 bike11 bike12 bike14 bike15';
        .clone{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            background-color: #5da78d;
            opacity: 0.8;
            transform: translateX(-100%);
            transition: 0.4s ease-out;
            .shopnow{
                width: 160px;
                height: 90px;
                padding-top: 20px;
                color: white;
                position: relative;
                overflow: hidden;
                p{
                    letter-spacing: 3px;
                    @include font('Lato', 14px, #fff, bold,30px );
                }
                span{
                    position: absolute;
                    
                    &:nth-child(odd){
                        width: 50%;
                        height: 1px;
                        background-color: #fff;
                    }
                    &:nth-child(even){
                        width: 1px;
                        height: 50%;
                        background-color: #fff;
                    }
                    &:nth-child(5){
                        top: 0px;
                        right: 0px;
                    }
                    &:nth-child(2){
                        bottom: 0px;
                        left: 0px;
                    }
                    &:nth-child(3){
                        bottom: 0px;
                        left: 0px;
                    }
                    &:nth-child(4){
                        top: 0px;
                        right: 0px;
                    }
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: -5px;
                    bottom: -5px;
                    left: -5px;
                    right: -5px;
                    // background-color: red;
                    z-index: -1;
                }
                &:hover{
                    &::after{
                        filter: blur(30px);
                    }
                }
            }
            .shopnow{
                span{
                  &:nth-child(5){
                    animation: slidex2 1s ease-out infinite;
                  }
                  &:nth-child(2){
                    animation: slidey2 1s ease-out infinite;
                }
                &:nth-child(3){
                    animation: slidex1 1s ease-out infinite;
                }
                &:nth-child(4){
                    animation: slidey1 1s ease-out infinite;
                } 
                } 
                &:hover{
                    span{
                        animation: shop 1s ease-out infinite;
                    }
                }
              }
        }

    }
    .btn{
        height: 200px;
        background-color: #282f35;
        display: flex;
        align-items: center;
        a{
            display: block;
            margin: 0px auto;
            text-decoration: none;
            width: 300px;
            height: 50px;
            line-height: 50px;
            border:1px solid #949a9a;
            transition: 0.3s ease-out;
           h4{
            @include font('Lato', 14px, #fff, bold, 50px );
           }
        }
        a:hover{
            background-color: rgb(232, 241, 241);
            h4{
               color:#94979a;
               }
        }
    }
    .sec3{
        overflow: hidden;
        &:hover{
            .clone{
                transform: translateX(0%);
            }
        }
    }
}
.body__content--sec4{
    display: flex;
    min-height: 470px;
    align-items: center;
    .sec4--wrapper{
        width: 33%;
        overflow: hidden;
        margin: 0px auto;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: space-around;
        .sec4--logo{
            img{display: block;margin: 0px auto;}
            p{font-style: italic;margin: 15px 0px;}
        }
    }
    .sec4--contact{
        width: 100%;
        .mail{
            display: flex;
        }
        input{
            
            padding: 25px;
            width: 75%;
            border: 1px solid #d3d7d9;
            margin-right: 10px;
        }
        ::-webkit-input-placeholder{
            font-style: italic;
            color: #d3d7d9;
        }
        :-ms-input-placeholder{
            font-style: italic;
            color: #d3d7d9;
        }
        a{
            display: inline-block;
            text-decoration: none;
            width: 25%;
            height: 68px;
            line-height: 68px;
            border: 1px solid #64c29e;
            background-color: #64c29e;
            color: white;
            transition: 0.3s ease-out;
        }
        a:hover{
            background-color: #fff;
            color: #64c29e;
        }
    }
}
.footer__content{
    .footer--wrapper{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .address{
           p{
            @include font('Lato', 14px, #848789, normal, 18px );
           }
        }
        .social{
            i{
                display: inline-block;
                width: 30px;
                height: 30px;
                line-height: 30px;
                color: white;
                border-radius: 100%;
            }
            .fa-twitter{
                background-color: #78cdf0;
            }
            .fa-facebook-f{
                background-color: #537bbd;
            }
            .fa-pinterest{
                background-color: #eb5755;
            }
        }
        .sign{
            height: 40px;
            line-height: 40px;
            img{transform: translateY(50%);}
        }
    }
}
// grid-template-areas:'bike1 bike1 line1-txt'
//                         'bike1 bike1 line1-txt'
//                         'bike1 bike1 bike2'
//                         'line2-txt bike3 bike3'
//                         'line2-txt bike3 bike3'
//                         'bike4 bike3 bike3'
//                         'bike5 line3-txt bike6'
//                         'bike5 line3-txt bike6'
//                         'bike5 bike7 bike6';
@media only screen and (max-width: 1024px){
    .body__content--sec3{
        // height: 1534px;
        .sec3--img{
            grid-template-areas:'bike8 bike9 bike11 bike12'
                                'bike10 bike10 bike11 bike12'
                                'bike13 bike13 bike14 bike15';
                                
        }
    }
}
@media only screen and (max-width: 770px){
    
    .body__content--sec2{
        grid-template-areas:'bike1 bike1'
                            'bike1 bike1'
                            'bike1 bike1'
                            'line1-txt line1-txt'
                            'bike2 bike2'
                            'bike3 bike3'
                            'bike3 bike3'
                            'line2-txt line2-txt'
                            'bike4 bike4'
                            'bike7 bike7'
                            'bike6 bike6'
                            'line3-txt line3-txt'
                            'bike5 bike5';
        .txt{
            .content{
                p{
                    text-align: center;
                }
                img{
                    margin-top: 20px;
                }
                &::after{
                    margin-top: 20px;
                    z-index: 2;
                }
            }
        }
    }
    .footer--wrapper{
        .sign{
           margin: 0px auto;
        }
    }
    .heacer__content{
        background-size: 200%;
        height: 500px;
        background-repeat: no-repeat;
        .header__menu{
            ul{
                width: 100%;
            }
        }
    }
    .body__content--sec3{
        height: 1534px;
        .sec3{ background-size: 100%; background-position: center;background-repeat: no-repeat; background-size: cover;}
        .sec3--img{
            grid-auto-rows: minmax(auto,254px);
            grid-template-areas:'bike9 bike8 bike11'
                                'bike10 bike10 bike11'
                                'bike12 bike13 bike13'
                                'bike12 bike14 bike15'
     ;
                                
        }
    }
}
@media only screen and (max-width:500px){
    .menu--toggle{
        display: block;
        &::before{
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            top: -50%;
            right: -50%;
            transition-duration: 2s;
            background-color: rgb(178, 183, 185);
            transform-origin:  top right ;
            // transform: scale(0);
            z-index: -1;
            border-radius: 100%;
            opacity: 0;
            color: white;
            box-shadow: 0px 0px 40px rgb(27, 27, 27);
        }
        &:hover {
            &::before{
                // transform: scale(1);
                width: 1500px;
                height: 1500px;
                opacity: 1;
            }
        }
        &:hover ~#menu{
            transform: translateX(0%);
        }

    }
    .heacer__content{
        background-size: cover;
        // overflow: hidden;
        position: relative;
        // &:hover #menu{
           
        // }
        .header__menu{
            height: 100%;
            ul{
                transition-duration: 1s;
                transition-timing-function: ease-out;
                transition-delay: 0.2s;
                transform: translateX(-100%);
                height: 100%;
                flex-flow: column wrap;
                justify-content: space-around;
                position: fixed;
                li{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .body__content--sec2{
        .big--img,.same-img,.small--img{
            z-index: -1;
        }
    }
    .body__content--sec3{

        .sec3--img{
            grid-template-areas:'bike8 bike9'
                                'bike10 bike10'
                                'bike11 bike12'
                                'bike11 bike12'
                                'bike13 bike13'
                                'bike14 bike15'
    ;
                                
        }
    }
}

