.bg-f7 {
  background: #f7f7f7;
}

.bg-f6 {
  background: #f6f6f6;
}

.text-right {
  text-align: right !important;
}

.bg-black {
  background: #000;
}

.db-img-block-1 {
  max-width: 100%;
  position: relative;
  border-radius: 12px;
}

.db-img-block-1 img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.db-img-block-1::after {
  z-index: 1;
  content: '';
  top: -16px;
  left: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(118.36deg, #d2f6f7 3.32%, #00c2c5 103.21%);
}

.db-img-block-1 .absolute-image-block {
  position: absolute;
}

.db-img-block-1 .absolute-image-block1 {
  left: 0;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
  z-index: 3;
  bottom: 84px;
}

.db-img-block-1 .absolute-image-block2 {
  left: 13px;
  z-index: 4;
  bottom: 13px;
}

.db-img-block-1 .absolute-image-block3 {
  right: -49px;
  z-index: 3;
  bottom: -9px;
}

.db-img-block-1 .absolute-image-block4 {
  right: 77px;
  z-index: 4;
  bottom: -27px;
}

.top-banner-section {
  min-height: 628px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(92.67deg, #0dd1d1 6.84%, #00a8bf 95.94%);
}

.top-banner-section .top-banner__container {
  height: 100%;
  min-height: inherit;
}

.top-banner-section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: inherit;
}

.top-banner-section .left-block h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 70px;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.top-banner-section .left-block .btn-booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #00c2c5;
  border-radius: 8px;
  padding: 14px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.top-banner-section .left-block .btn-booking .booking-title {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.top-banner-section .left-block .btn-booking .booking-desc {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
}

.top-banner-section .left-block .btn-booking img {
  margin-top: 4px;
  margin-right: 8px;
}

.inner-body-section {
  overflow-x: hidden;
}

.inner-body-section .side-title-dash {
  text-transform: uppercase;
  color: #006163;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 8px;
  margin-bottom: 18px;
}

.inner-body-section .side-title-dash::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4px;
  width: 50px;
  background: #00c2c5;
}

.inner-body-section .side-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #676767;
  margin-bottom: 18px;
}

.inner-body-section .btn-classic {
  background: #00c2c5;
  border-radius: 12px;
  padding: 14px 60px;
  text-decoration: none !important;
  color: #fff !important;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.trainning-section {
  height: 780px;
  min-height: 780px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.trainning-section .background-absolute-1 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.trainning-section .background-absolute-2 {
  position: absolute;
  z-index: 1;
  bottom: 34px;
  left: -10px;
}

.trainning-section .trainning__container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trainning-section .trainning__container .left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trainning-section .trainning__container .left-block .side-title-dash.left-side {
  margin-left: auto;
  text-align: right;
}

.trainning-section .trainning__container .left-block .side-desc.left-side {
  text-align: right;
}

.trainning-section .trainning__container .left-block .side-desc {
  margin-left: auto;
  max-width: 488px;
}

.trainning-section .trainning__container .left-block .btn-classic {
  margin-left: auto;
}

.trainning-section .trainning__container .right-block {
  position: relative;
}

.trainning-section .trainning__container .right-block .drect-absolute {
  position: absolute;
  right: -29px;
  bottom: -21px;
}

.trainning-section .trainning__container .relative-image {
  max-width: 100%;
  position: relative;
  border-radius: 12px;
}

.trainning-section .trainning__container .relative-image img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.trainning-section .trainning__container .relative-image::after {
  z-index: 1;
  content: '';
  top: -16px;
  left: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(118.36deg, #d2f6f7 3.32%, #00c2c5 103.21%);
}

.advisement-section {
  height: 778px;
  min-height: 778px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.advisement-section .side-title-dash::after {
  content: '';
  left: 0;
}

.advisement-section .background-absolute-1 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -30px;
}

.advisement-section .background-absolute-2 {
  position: absolute;
  z-index: 1;
  bottom: 27px;
  right: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.advisement-section .advisement__container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advisement-section .advisement__container .right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advisement-section .advisement__container .right-block .side-title-dash.left-side {
  margin-right: auto;
  text-align: left;
}

.advisement-section .advisement__container .right-block .side-desc.left-side {
  text-align: left;
}

.advisement-section .advisement__container .right-block .side-desc {
  margin-right: auto;
  max-width: 488px;
}

.advisement-section .advisement__container .right-block .btn-classic {
  margin-right: auto;
}

.advisement-section .advisement__container .left-block {
  position: relative;
}

.advisement-section .advisement__container .left-block .drect-absolute {
  position: absolute;
  left: -29px;
  bottom: -21px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.advisement-section .advisement__container .relative-image {
  max-width: 100%;
  position: relative;
  border-radius: 12px;
}

.advisement-section .advisement__container .relative-image img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.advisement-section .advisement__container .relative-image::after {
  z-index: 1;
  content: '';
  top: -16px;
  left: -16px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(242.27deg, #bcf5e1 4.49%, #18d28f 96.06%);
}

.store-section {
  height: 728px;
  min-height: 728px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.store-section .background-absolute-1 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.store-section .background-absolute-2 {
  position: absolute;
  z-index: 1;
  bottom: 34px;
  left: -10px;
}

.store-section .store__container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-section .store__container .left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.store-section .store__container .left-block .side-title-dash.left-side {
  margin-left: auto;
  text-align: right;
}

.store-section .store__container .left-block .side-desc.left-side {
  text-align: right;
}

.store-section .store__container .left-block .side-desc {
  margin-left: auto;
  max-width: 488px;
}

.store-section .store__container .left-block .btn-classic {
  margin-left: auto;
}

.store-section .store__container .right-block {
  position: relative;
}

.store-section .store__container .right-block .drect-absolute {
  position: absolute;
  right: -29px;
  bottom: -21px;
}

.store-section .store__container .relative-image {
  max-width: 100%;
  position: relative;
  border-radius: 12px;
}

.store-section .store__container .relative-image img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.store-section .store__container .relative-image::after {
  z-index: 1;
  content: '';
  top: -16px;
  left: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(118.36deg, #d2f6f7 3.32%, #00c2c5 103.21%);
}

.app-link-section {
  height: 352px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eefeff;
}

.app-link-section .fake-bg-polygon {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.app-link-section .row {
  width: 100%;
  position: relative;
  z-index: 2;
}

.app-link-section .app-link-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 30px;
}

.app-link-section .shared-link-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 80px;
}

@media only screen and (max-width: 560px) {
  .top-banner-section {
    min-height: 375px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .top-banner-section .top-banner__container .left-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 12px;
  }
  .top-banner-section .top-banner__container .left-block h3 {
    font-size: 22px;
    line-height: 24px;
    text-align: center;
  }
  .top-banner-section .top-banner__container .db-img-block-1 {
    max-width: 290px;
    margin: auto;
  }
  .top-banner-section .top-banner__container .db-img-block-1 .absolute-image-block1 {
    max-width: 69px;
    -webkit-transform: unset;
            transform: unset;
    left: -31px;
    bottom: 16px;
  }
  .top-banner-section .top-banner__container .db-img-block-1 .absolute-image-block2 {
    max-width: 50px;
    bottom: -15px;
  }
  .top-banner-section .top-banner__container .db-img-block-1 .absolute-image-block3 {
    max-width: 75px;
    right: -22px;
    bottom: -4px;
  }
  .top-banner-section .top-banner__container .db-img-block-1 .absolute-image-block4 {
    max-width: 53px;
    right: 34px;
    bottom: -13px;
  }
  .inner-body-section {
    overflow-x: hidden;
  }
  .inner-body-section .row {
    margin: 0 !important;
  }
  .inner-body-section .side-title-dash {
    font-size: 16px;
    line-height: 24px;
    text-align: left !important;
    margin-left: 0 !important;
    width: 100% !important;
    margin-bottom: 4px;
  }
  .inner-body-section .side-title-dash::after {
    content: '';
    left: 0;
    height: 2px;
  }
  .inner-body-section .side-desc {
    text-align: left !important;
    margin-bottom: 26px;
  }
  .inner-body-section .btn-classic {
    width: 100%;
    text-align: center;
    margin-top: 26px;
    font-size: 14px;
  }
  .trainning-section {
    height: unset;
    min-height: unset;
    padding: 60px 0 30px;
  }
  .trainning-section .background-absolute-1 {
    height: 197px;
  }
  .trainning-section .trainning__container .relative-image::after {
    top: -10px;
    left: 10px;
  }
  .trainning-section .trainning__container .right-block .drect-absolute {
    height: 61px;
    right: -14px;
    bottom: -10px;
  }
  .advisement-section {
    height: unset;
    min-height: unset;
    padding: 30px 0 30px;
  }
  .advisement-section .background-absolute-1 {
    -webkit-transform: unset;
            transform: unset;
    top: 0;
    right: 10px;
    left: unset !important;
    max-height: 100%;
  }
  .advisement-section .advisement__container .relative-image::after {
    top: -10px;
    left: -10px;
  }
  .advisement-section .advisement__container .left-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .advisement-section .advisement__container .left-block .drect-absolute {
    height: 61px;
    left: -14px;
    bottom: -10px;
  }
  .store-section {
    height: unset;
    min-height: unset;
    padding: 60px 0 30px;
  }
  .store-section .background-absolute-1 {
    height: 197px;
  }
  .store-section .store__container .relative-image::after {
    top: -10px;
    left: 10px;
  }
  .store-section .store__container .right-block .drect-absolute {
    height: 61px;
    right: -14px;
    bottom: -10px;
  }
  .app-link-section {
    padding-top: 10px;
    background: #eefeff;
  }
  .app-link-section .app-link-title {
    max-width: 290px;
    margin: auto;
    font-size: 24px;
    line-height: 30px;
    padding: 0;
    padding-top: 70px;
    margin-bottom: 35px;
  }
  .app-link-section .each-shared-link-btn {
    width: 140px;
  }
  .app-link-section .shared-link-web {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 20px;
  }
  .property-tabs__wr {
    padding: 12px 0;
  }
  .app-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 40px;
  }
  .app-link img {
    width: 260px;
  }
  .advance-inf-tabs__container {
    padding-top: 0 !important;
  }
  .advance-inf-tabs__container.fifth-advance-inf .advance-inf-tabs__desc {
    font-size: 12px !important;
  }
}
/*# sourceMappingURL=home_v2.css.map */