.bg-f7 {
  background: #f7f7f7;
}

.text-right {
  text-align: right !important;
}

.bg-black {
  background: #000;
}

.detail-device-tabs__wr {
  padding: 0;
  height: 620px;
  background-color: #f7f7f7;
}
.detail-device-tabs__wr #libPageSearchInput::-moz-placeholder {
  color: #bdbdbd;
  font-size: 14px;
}
.detail-device-tabs__wr #libPageSearchInput::placeholder {
  color: #bdbdbd;
  font-size: 14px;
}
.detail-device-tabs__wr .prod-group-text {
  margin-left: auto;
  background-color: #f7f7f7;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.detail-device-tabs__wr .prod-group-text .prod-group-name {
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;
  color: #2b2b2b;
}
.detail-device-tabs__wr .prod-group-text .prod-desc {
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  /* new/Title */
  color: #2b2b2b;
}
.detail-device-tabs__wr .prod-group-text .prod-rating-n-review .star-rating {
  margin-right: 20px;
}
.detail-device-tabs__wr .prod-group-text .prod-rating-n-review .star-rating img {
  margin-right: 2px;
  height: 20px;
}
.detail-device-tabs__wr .prod-group-text .prod-rating-n-review .review-counter {
  font-size: 12px;
  line-height: 16px;
  color: #2b2b2b;
  margin-right: 32px;
}
.detail-device-tabs__wr .prod-group-text .prod-rating-n-review .view-all-review-btn {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #1462d7;
}
.detail-device-tabs__wr .prod-group-text .prod-act-btn {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.detail-device-tabs__wr .prod-group-text .prod-act-btn .prod-btn {
  border: 1px solid #00c2c5;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: calc(100% - 40px);
  padding: 11px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-device-tabs__wr .prod-group-text .prod-act-btn .btn-add-to-cart {
  background: rgba(0, 194, 197, 0.1);
  color: #00c2c5;
}
.detail-device-tabs__wr .prod-group-text .prod-act-btn .btn-buy-now {
  color: #fff;
  background-color: #00c2c5;
}
.detail-device-tabs__wr .prod-group-text .prod-price {
  margin-top: 16px;
  margin-bottom: 19px;
}
.detail-device-tabs__wr .prod-group-text .prod-price .prod-sale-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #00c2c5;
  margin-right: 12px;
}
.detail-device-tabs__wr .prod-group-text .prod-price .prod-original-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: #bdbdbd;
  margin-right: 32px;
}
.detail-device-tabs__wr .prod-group-text .prod-price .prod-sale-percentage {
  background: #fd382a;
  border-radius: 6px;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 51px;
  line-height: 20px;
  height: 27px;
  padding: 3px;
}
.detail-device-tabs__wr .prod-group-img {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.detail-device-tabs__wr .prod-group-img img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.detail-device-tabs__wr .main-top-block {
  margin-top: 19px;
  margin-bottom: 19px;
}
.detail-device-tabs__wr .main-top-block .main-top-navigator {
  list-style-type: none;
  align-items: center;
  margin-bottom: 0;
}
.detail-device-tabs__wr .main-top-block .main-top-navigator .each-tab-navigator .link-target {
  text-decoration: none;
  padding-right: 40px;
  font-weight: 500;
}
.detail-device-tabs__wr .main-top-block .main-top-navigator .each-tab-navigator .link-target:hover {
  color: #00c2c5 !important;
}
.detail-device-tabs__wr .main-top-block .main-top-navigator .each-tab-navigator .cart-btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  background: rgba(0, 194, 197, 0.0588235294);
  padding: 12px;
  border-radius: 8px;
  position: relative;
}
.detail-device-tabs__wr .main-top-block .main-top-navigator .each-tab-navigator .cart-btn .cart-counter {
  position: absolute;
  display: block;
  z-index: 2;
  width: 18px;
  height: 18px;
  background: #f03018;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  border-radius: 100%;
  top: 7px;
  left: 24px;
}
.detail-device-tabs__wr .main-top-block .main-top-navigator .each-tab-navigator .cart-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.detail-device-tabs__wr .libpage-tabs__container {
  padding: 0 10px;
  overflow-x: hidden;
}
.detail-device-tabs__wr .libpage-tabs__container .tab-title {
  margin-bottom: 12px;
  letter-spacing: 0.25px;
  line-height: 40px;
  font-size: 33px;
}
.detail-device-tabs__wr .libpage-tabs__container .tab-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #525252;
}
.detail-device-tabs__wr .libpage-tabs__container .libpage-tabs__search {
  color: #848484;
  line-height: 20px;
  max-width: 600px;
  padding-right: 16px !important;
}

.prod-style-2 .prod-group-text {
  margin-left: 0;
  max-width: 658px;
}

.middle-banner .sbPropertySwiper .swiper-wrapper .swiper-slide,
.middle-banner .tripleSwiper .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.middle-banner .sbPropertySwiper .swiper-wrapper .swiper-slide .brand-logo,
.middle-banner .tripleSwiper .swiper-wrapper .swiper-slide .brand-logo {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 4px 24px rgba(0, 35, 35, 0.03);
  border-radius: 12px;
  height: 251px;
  margin-bottom: 21px;
}
.middle-banner .sbPropertySwiper .swiper-wrapper .swiper-slide .brand-logo img,
.middle-banner .tripleSwiper .swiper-wrapper .swiper-slide .brand-logo img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.middle-banner .sbPropertySwiper .swiper-pagination,
.middle-banner .tripleSwiper .swiper-pagination {
  bottom: -2px !important;
}
.middle-banner .sbPropertySwiper .swiper-pagination .swiper-pagination-bullet,
.middle-banner .tripleSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  background-color: #676767 !important;
  opacity: 1;
  margin-bottom: 3px;
}
.middle-banner .sbPropertySwiper .swiper-pagination .swiper-pagination-bullet-active,
.middle-banner .tripleSwiper .swiper-pagination .swiper-pagination-bullet-active {
  transform: translateY(2px);
  margin-bottom: 0px;
  width: 14px;
  height: 14px;
  background-color: transparent !important;
  border: 1px solid #676767 !important;
}
.middle-banner .sbPropertySwiper .swiper-pagination-2,
.middle-banner .tripleSwiper .swiper-pagination-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  bottom: -10px !important;
}
.middle-banner .sbPropertySwiper .swiper-pagination-2 .swiper-pagination-bullet,
.middle-banner .tripleSwiper .swiper-pagination-2 .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #2b2b2b !important;
  opacity: 1;
  margin-bottom: 3px;
}
.middle-banner .sbPropertySwiper .swiper-pagination-2 .swiper-pagination-bullet-active,
.middle-banner .tripleSwiper .swiper-pagination-2 .swiper-pagination-bullet-active {
  margin-bottom: 0px;
  width: 12px;
  height: 12px;
  background-color: transparent !important;
  border: 1px solid #2b2b2b !important;
}
.middle-banner .sbPropertySwiper .swiper-slide .slider-block__main-img {
  max-width: 100%;
}
.middle-banner .sbPropertySwiper .swiper-slide.inner-content-wt {
  position: relative;
}
.middle-banner .sbPropertySwiper .swiper-slide.inner-content-wt .absolute-inner__content {
  position: absolute;
  bottom: 134px;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.middle-banner .sbPropertySwiper .swiper-slide.inner-content-wt .absolute-inner__content p {
  margin-top: 18px;
  font-weight: 700;
  font-size: 30px;
  line-height: 53px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0 !important;
}

.middle-banner {
  padding-bottom: 0;
}

.middle-2 {
  padding: 105px 0 45px 0;
}

.property-tabs__container {
  padding: 120px 0 16px 0;
}
.property-tabs__container .property-block__wr {
  padding-bottom: 12px;
}
.property-tabs__container .each-property {
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(0, 35, 35, 0.04);
  border-radius: 12px;
  padding: 40px 20px 40px 20px;
  display: flex;
  align-items: center;
  margin: 0;
}
.property-tabs__container .each-property img {
  margin-right: 20px;
}
.property-tabs__container .each-property .property__title {
  color: #2b2b2b;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 8px;
}
.property-tabs__container .each-property .property__desc {
  color: #676767;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}

.advance-inf-tabs__container {
  padding: 4px 0;
}
.advance-inf-tabs__container .image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.advance-inf-tabs__container .image-block img {
  max-width: 100%;
  max-height: 100%;
}
.advance-inf-tabs__container .image-block .absolute-img {
  position: absolute;
  bottom: 16px;
  right: -200px;
}
.advance-inf-tabs__container .text-block {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-left: 24px;
}
.advance-inf-tabs__container .text-block .advance-inf-tabs__desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #2b2b2b;
  text-align: left;
  margin-top: 44px;
}
.advance-inf-tabs__container .text-block .advance-inf-tabs__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: left;
  color: #2b2b2b;
  margin-bottom: 4px;
}
.advance-inf-tabs__container.second-advance-inf {
  padding: 120px 0 100px 0;
}
.advance-inf-tabs__container.third-advance-inf {
  padding: 80px 0;
}
.advance-inf-tabs__container.third-advance-inf .image-block {
  justify-content: flex-end !important;
}
.advance-inf-tabs__container.third-advance-inf .text-block {
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-left: 12px;
}
.advance-inf-tabs__container.third-advance-inf .text-block .advance-inf-tabs__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.advance-inf-tabs__container.fourth-advance-inf {
  padding: 120px 0;
}
.advance-inf-tabs__container.fourth-advance-inf .text-block {
  padding-left: 12px;
}
.advance-inf-tabs__container.fourth-advance-inf .text-block .advance-inf-tabs__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.advance-inf-tabs__container.fifth-advance-inf {
  padding: 0;
}
.advance-inf-tabs__container.fifth-advance-inf .text-block {
  padding-left: 12px;
}
.advance-inf-tabs__container.fifth-advance-inf .text-block .advance-inf-tabs__desc {
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.mf-block .row {
  padding: 60px 0;
}
.mf-block .s-row {
  padding-bottom: 100px;
}
.mf-block .mf-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #2b2b2b;
  max-width: 850px;
  margin: auto;
  margin-bottom: 56px;
}
.mf-block .text-mf {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #2b2b2b;
}
.mf-block .col-fs {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 80px 0;
}
.mf-block .col-fs .text-mf {
  text-align: right;
}
.mf-block .col-ss {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mf-block .col-ts {
  display: flex;
  align-items: center;
}
.mf-block .col-ts .text-mf {
  text-align: left;
}

.absolute-text-content img {
  max-width: 100% !important;
}
.absolute-text-content.py-c6 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.absolute-text-content.pb-c10 {
  padding-bottom: 100px;
}
.absolute-text-content .relative-content {
  position: relative;
}
.absolute-text-content .relative-content .block-text-absolute {
  padding: 40px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  max-width: 800px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.absolute-text-content .relative-content .block-text-absolute .advance-inf-tabs__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.absolute-text-content .relative-content .block-text-absolute .advance-inf-tabs__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
}
.absolute-text-content .relative-content.block-text-left img {
  display: block;
  margin-left: auto;
}
.absolute-text-content .relative-content.block-text-left .block-text-absolute {
  left: 0;
}
.absolute-text-content .relative-content.block-text-left .block-text-absolute .advance-inf-tabs__desc {
  text-align: right;
}
.absolute-text-content .relative-content.block-text-left .block-text-absolute .advance-inf-tabs__title {
  text-align: right;
}

.detail2-cmt-block-section {
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 80px;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .infomation-block__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
  color: #2b2b2b;
  margin-bottom: 16px;
  margin-top: 32px;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .infomation-block__content {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  color: #2b2b2b;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments .avarage-star-rating {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments .avarage-star-rating .avg-counter {
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #00c2c5;
  display: block;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments .ct-block {
  display: flex;
  align-items: center;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments .ct-block .comments-summary {
  max-width: 98px;
  font-size: 14px;
  line-height: 16px;
  color: #2b2b2b;
  margin-left: 33px;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments .btn-new-cmd {
  border: 1px solid #00c2c5;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  width: calc(100% - 10px);
  padding: 9px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 194, 197, 0.1);
  color: #00c2c5;
  max-width: 130px;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments .customer-comments-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments-body {
  padding: 16px 0;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .each-comment-block {
  border-top: 0.5px solid #bdbdbd;
  padding: 16px 0;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .each-comment-block .cmt-title {
  color: #0dbe9e;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .each-comment-block .cmt-username {
  font-size: 16px;
  line-height: 24px;
  color: #2b2b2b;
  display: inline-block;
  padding: 0 8px;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .each-comment-block .cmt-datetime {
  color: rgba(43, 43, 43, 0.3725490196);
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  padding: 0 8px;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .each-comment-block .cmt-detail {
  font-size: 14px;
  line-height: 20px;
  color: #2b2b2b;
  margin-bottom: 0;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments-pagination .page-count {
  background: #ffffff;
  border: 0.5px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin: 0 4px;
  cursor: pointer;
}
.detail2-cmt-block-section .detail2-cmt-block-tabs__container .customer-comments-pagination .page-count.current-page {
  background: #00c2c5;
  border-radius: 4px;
  border-color: #00c2c5;
  color: #fff;
}

.technique-parameter-tabs__container {
  padding: 100px 0 100px 0;
}
.technique-parameter-tabs__container .section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #2b2b2b;
  text-align: center;
  margin-bottom: 16px;
}
.technique-parameter-tabs__container .each-pr {
  margin-top: 42px;
  margin-bottom: 42px;
  flex: 0 0 auto;
  width: 20%;
}
.technique-parameter-tabs__container .each-pr .pr-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #2b2b2b;
  margin-bottom: 7px;
}
.technique-parameter-tabs__container .each-pr .pr-desc {
  color: #2b2b2b;
  font-size: 14px;
  line-height: 20px;
}

#productSticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: #fff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}
#productSticky.on-sticky {
  display: block;
}
#productSticky .left-side {
  display: flex;
  align-items: center;
  padding: 18px 0;
}
#productSticky .left-side .ls-img {
  width: 80px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 8px;
  background-color: #2b2b2b;
}
#productSticky .left-side .prd-inf {
  padding-left: 20px;
}
#productSticky .left-side .prd-inf .prd-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 4px;
  color: #2b2b2b;
}
#productSticky .left-side .prd-inf .prd-sale-price {
  color: #00c2c5;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-right: 12px;
}
#productSticky .left-side .prd-inf .prd-original-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: line-through;
  color: #bdbdbd;
  padding-right: 12px;
}
#productSticky .left-side .prd-inf .prd-sale-percentage {
  margin-left: 27px;
  background: #fd382a;
  border-radius: 6px;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 51px;
  line-height: 20px;
  height: 27px;
  padding: 3px;
}
#productSticky .prd-act-btn {
  display: flex;
  gap: 20px;
}
#productSticky .prd-act-btn .prd-btn {
  border: 1px solid #00c2c5;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding: 11px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#productSticky .prd-act-btn .btn-add-to-cart {
  background: rgba(0, 194, 197, 0.1);
  color: #00c2c5;
  width: 252px;
}
#productSticky .prd-act-btn .btn-buy-now {
  width: 252px;
  color: #fff;
  background-color: #00c2c5;
}

@media only screen and (max-width: 1025px) {
  .property-tabs__container {
    padding: 100px 0 100px 0;
  }
  .property-tabs__container .each-property {
    background: #ffffff;
    box-shadow: 0px 4px 24px rgba(0, 35, 35, 0.05);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .property-tabs__container .each-property img {
    margin: auto;
    display: block;
  }
  .property-tabs__container .each-property .property__title {
    text-align: center;
    height: 48px;
  }
  .property-tabs__container .each-property .property__desc {
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .detail-device-tabs__wr {
    background-image: none;
    height: auto;
  }
  .detail-device-tabs__wr .prod-group-img {
    display: block !important;
    margin-bottom: 12px;
  }
  .detail-device-tabs__wr .prod-group-img img {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
  .middle-banner .sbPropertySwiper .swiper-slide img {
    max-width: 100%;
  }
  .advance-inf-tabs__container {
    padding-top: 24px !important;
  }
  .advance-inf-tabs__container .text-block h3 {
    font-size: 32px;
    margin: 18px 0;
  }
  .advance-inf-tabs__container .text-block .text-block-title {
    line-height: 24px;
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 560px) {
  li {
    margin-bottom: 0;
  }
  .libpage-tabs__wr {
    padding: 47px 0;
  }
  .prod-rating-n-review .star-rating {
    margin-right: 20px;
  }
  .prod-rating-n-review .star-rating img {
    margin-right: 2px;
    height: 13px !important;
  }
  .main-top-product {
    background: #f7f7f7;
    padding-bottom: 32px;
  }
  .main-top-product .prod-group-img img {
    max-width: 276px !important;
    margin: 24px auto 16px !important;
    display: flex;
  }
  .main-top-product .prod-group-text .prod-group-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #262626;
  }
  .main-top-product .prod-group-text .prod-desc {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #262626;
  }
  .property-tabs__container {
    padding: 8px 0 8px 0;
  }
  .property-tabs__wr {
    padding: 12px 0;
  }
  .property-tabs__container .each-property {
    box-shadow: 0px 4px 24px rgba(0, 35, 35, 0.03);
    border-radius: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 12px;
  }
  .property-tabs__container .each-property img {
    height: 24px;
    margin: 12px auto;
  }
  .property-tabs__container .each-property .property__title {
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #2b2b2b;
    height: unset !important;
  }
  .property-tabs__container .each-property .property__desc {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #676767;
  }
  .sbPropertySwiper {
    padding-bottom: 20px;
    margin-bottom: 4px;
  }
  .sbPropertySwiper .swiper-slide.d-flex {
    flex-wrap: wrap;
    text-align: center;
  }
  .sbPropertySwiper .swiper-slide.d-flex .col-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .sbPropertySwiper .each-slider-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  .sbPropertySwiper .swiper-slide.inner-content-wt .absolute-inner__content {
    bottom: 42px !important;
  }
  .sbPropertySwiper .swiper-slide.inner-content-wt p {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  .sbPropertySwiper .swiper-slide.inner-content-wt .inner-icon {
    height: 32px;
  }
  .middle-banner {
    padding-bottom: 20px !important;
  }
  .advance-inf-tabs__container {
    padding-top: 0 !important;
  }
  .advance-inf-tabs__container.fifth-advance-inf .advance-inf-tabs__desc {
    font-size: 12px !important;
  }
  .mf-block .advance-inf-tabs__container {
    padding-top: 0 !important;
  }
  .mf-block .row {
    padding: 20px 0;
  }
  .mf-block .mf-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
  .mf-block .col-ss .text-mf {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 18px;
  }
  .mf-block .col-ssm {
    padding-left: 16px;
  }
  .mf-block .s-row .text-block {
    padding-top: 24px;
  }
  .mf-block .s-row .text-block .advance-inf-tabs__title {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
  }
  .mf-block .s-row .text-block .advance-inf-tabs__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
  .absolute-text-content .relative-content.spo2-absolute-block {
    padding-bottom: 120px;
  }
  .absolute-text-content .relative-content.list-supports-absolute-block {
    padding-bottom: 154px;
  }
  .absolute-text-content .relative-content.more-battery-absolute-block {
    padding-bottom: 84px;
  }
  .absolute-text-content .relative-content img {
    margin: auto;
  }
  .absolute-text-content .relative-content .block-text-absolute {
    padding: 16px;
    top: unset;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    transform: translateY(0);
    z-index: 2;
  }
  .absolute-text-content .relative-content .block-text-absolute .advance-inf-tabs__title {
    font-size: 20px;
    line-height: 29px;
    text-align: center !important;
  }
  .absolute-text-content .relative-content .block-text-absolute .advance-inf-tabs__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center !important;
  }
  .absolute-text-content.py-c6 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #productSticky {
    padding: 16px 0;
  }
  #productSticky .btn-add-to-cart {
    width: 48px !important;
    padding: 12px !important;
  }
  #productSticky .btn-add-to-cart img {
    padding: 0 !important;
  }
  #productSticky .prd-act-btn {
    width: 100%;
    justify-content: center;
    order: -1;
  }
  .advance-inf-tabs__container .text-block {
    padding-left: 12px;
  }
  .advance-inf-tabs__container .text-block .advance-inf-tabs__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2b2b2b;
  }
  .advance-inf-tabs__container .image-block img {
    max-width: 100%;
  }
  .advance-inf-tabs__container.second-advance-inf {
    padding: 40px 0 !important;
  }
  .advance-inf-tabs__container.second-advance-inf .image-block {
    order: -1;
  }
  .advance-inf-tabs__container.second-advance-inf .image-block img {
    margin-top: 12px;
    margin-bottom: 16px;
  }
  .advance-inf-tabs__container.second-advance-inf .text-block .advance-inf-tabs__title {
    font-size: 20px;
    line-height: 29px;
    text-align: center !important;
    margin-bottom: 16px !important;
  }
  .advance-inf-tabs__container.second-advance-inf .text-block .advance-inf-tabs__desc {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    text-align: center !important;
  }
  .advance-inf-tabs__container.third-advance-inf {
    padding: 40px 0 16px !important;
  }
  .advance-inf-tabs__container.third-advance-inf .image-block {
    order: -1;
  }
  .advance-inf-tabs__container.third-advance-inf .image-block img {
    margin-top: 12px;
    margin-bottom: 16px;
  }
  .advance-inf-tabs__container.third-advance-inf .text-block {
    margin-bottom: 0 !important;
  }
  .advance-inf-tabs__container.third-advance-inf .text-block .advance-inf-tabs__title {
    font-size: 20px;
    line-height: 29px;
    text-align: center !important;
    margin-bottom: 16px !important;
    max-width: 270px;
    margin: auto;
  }
  .advance-inf-tabs__container.third-advance-inf .text-block .advance-inf-tabs__desc {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    text-align: center !important;
  }
  .advance-inf-tabs__container.fourth-advance-inf {
    padding: 40px 0 16px !important;
  }
  .advance-inf-tabs__container.fourth-advance-inf .image-block {
    order: -1;
  }
  .advance-inf-tabs__container.fourth-advance-inf .image-block img {
    margin-top: 12px;
    margin-bottom: 16px;
  }
  .advance-inf-tabs__container.fourth-advance-inf .text-block {
    margin-bottom: 0 !important;
  }
  .advance-inf-tabs__container.fourth-advance-inf .text-block .advance-inf-tabs__title {
    font-size: 20px;
    line-height: 29px;
    text-align: center !important;
    margin-bottom: 16px !important;
    max-width: 270px;
    margin: auto;
  }
  .advance-inf-tabs__container.fourth-advance-inf .text-block .advance-inf-tabs__desc {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    text-align: center !important;
  }
  .advance-inf-tabs__container.fifth-advance-inf {
    padding-top: 0 !important;
  }
  .advance-inf-tabs__container.fifth-advance-inf .row {
    margin: 0 !important;
  }
  .advance-inf-tabs__container.fifth-advance-inf .image-block {
    order: -1;
    padding: 0 !important;
  }
  .advance-inf-tabs__container.fifth-advance-inf .image-block img {
    margin-top: 0;
    margin-bottom: 24px;
  }
  .advance-inf-tabs__container.fifth-advance-inf .text-block {
    margin-bottom: 0 !important;
  }
  .advance-inf-tabs__container.fifth-advance-inf .text-block .advance-inf-tabs__title {
    font-size: 20px;
    line-height: 29px;
    text-align: center !important;
    margin-bottom: 16px !important;
    max-width: 300px;
    margin: auto;
  }
  .advance-inf-tabs__container.fifth-advance-inf .text-block .advance-inf-tabs__desc {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    text-align: center !important;
  }
  .advance-inf-tabs__container.fifth-advance-inf .text-block .advance-inf-tabs__desc br {
    display: none;
  }
  .ppi-block {
    padding-bottom: 40px;
  }
  .glance-block {
    padding-top: 24px;
    padding-bottom: 40px;
  }
  .middle-2 {
    padding: 20px 0 15px 0;
  }
  .middle-banner .tripleSwiper .swiper-pagination-2 {
    padding-top: 20px;
  }
  .water-proof {
    padding-bottom: 40px;
    padding-top: 16px;
  }
  .water-proof .text-block-title {
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 29px;
  }
  .water-proof .image-block img {
    max-width: 244px !important;
  }
  .technique-parameter-section {
    padding: 40px 0;
  }
  .technique-parameter-section .section-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
  }
  .technique-parameter-section .technique-parameter-tabs__container .each-pr {
    margin-top: 12px;
    margin-bottom: 12px;
    flex: 0 0 auto;
    width: 50%;
  }
  .detail2-cmt-block-section {
    background-color: #f6f6f6;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .detail2-cmt-block-section .customer-comments-pagination {
    margin-bottom: 0 !important;
  }
}/*# sourceMappingURL=smartband-detail.css.map */