body{
    background-color: rgb(94, 82, 82);
}
// KHAI BAO CAC LENH DUNG NHIEU
@mixin reset {
    margin: 0px;
    padding: 0px;
    clear: both;
}
@mixin font($size,$family,$weight,$height,$color) {
    font-size: $size;
    font-family: $family, sans-serif;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}
@mixin bg-set($url, $x-pos, $y-pos, $bg-size, $bg-repeat) {
    background: url($url);
    background-position: $x-pos $y-pos;
    background-size: $bg-size;
    background-repeat: $bg-repeat;
}
.justify-content-evenly{
    justify-content: space-evenly!important;
}
#logo2{
    display: none;
}

// @include font(40px, 'Poppins',600,60px, white);
// ---------

.nav-bar-tab{
    z-index: 3;
}
.icon{
    margin-right: 30px;
    width: 70px;
    height: 70px;
    padding: 15px 15px;
    background: #012F41;
    border-radius: 30px;
}
.h3-t1{@include font(32px, 'Poppins',600,48px, #444);}
.p-t1{@include font(16px, 'Poppins',normal,24px, #444);}
.h3-t2{@include font(21px, 'Poppins',600,31px, #444);}
.p-t2{@include font(13px, 'Poppins',normal,19px, #444);}
.text-border-mod{            
    padding-left: 29px;
    border-left: 2px solid #D9C377;
}
.blur{
    position: fixed;
    height: 100vh;
    background: #000;
    top: 0px ;
    bottom: 0px;
    left: 0px;
    z-index: 3;
    opacity: 0.6;
    display: none;
}
.hd{padding: 0px;}
.row{margin: 0px !important;}
.w-85{width: 85%;}
.banner{
    height: 675px;
    background: radial-gradient(50% 50% at 50% 50%, #012F41 0%, #03101B 100%);
    .navbar--wrapper{
        .nav-bar-tab{
            .navbar{
                ul.navbar-nav{
                    li{
                        padding: 6px 12px;
                        border-radius: 4px;
                        &:hover{
                            background: #F6F4EC;
                        } 
                    }
                }
            }
        }
    }
    #dropdownMenuButton{
        color: #aaa8a8;
        &:hover{
            color: #fff;
        }
    }
    .btn-mod{
        &:focus{
            box-shadow: none!important;
        }
    }
    .dropdown-mod{
        width: 180px;
        a{
            padding: 13px 17px;
            height: 44px;
            @include font(12px, 'Poppins',600,18px, #444);
            width: 100%;
            white-space: normal;
            &:hover{
                background: #F6F4EC;
            }
            &:last-child{
                height: 64px;
            }
        }
    }
}
.sticky{
    position: fixed;
    top: -100px;
    left: 0px;
    z-index: 9999999;
    background: #fff;
    padding: 0px;
    @include font(12px, 'Poppins',600,18px, #444);
    box-shadow: 0px 0px 1px 1px rgba(63, 63, 63, 0.384);
    a{
        text-decoration: none!important;
        color: #444!important;
    }
    #dropdownMenuButton{
        @include font(12px, 'Poppins',600,18px, #444);
        &:hover{
            color: #000;
        }
    }
    #logo2{
        display: block;
    }
    #logo1{
        display: none;
    }
    animation: slidedown 1s ease-in forwards;
    @keyframes slidedown {
        0%{top: -100px;}
        100%{top: 0px;}
    }
    .tg1{
        color: rgb(131, 127, 127);
        text-align: center;
        &:focus{
            outline: none;
        }
    }
    .tg2{
        color: #D9C377;
    }
}
.container-fluid{
    padding: 0px!important;
    overflow-x: hidden;
}
.container-fluid--mod{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1440px;
}
.container--mod{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1170px;
}
.header-banner__img{
    z-index: 1;
    margin-top: -36px;
    // background: url('./img/the-rest/header-img2.png') center/contain no-repeat;
    width: 562px;
    // height: 480px;
    img{
        width: 100%;
        height: auto;
    }
}
.header-banner__text{
    h3{
        //font($size,$family,$weight,$height,$color)
        @include font(40px, 'Poppins',600,60px, white);
    }
    h4{
        @include font(24px, 'Poppins',500,36px, white);
    }
    p{
        @include font(16px, 'Poppins',300,24px, white);
    }
}
.body-content{
    position: relative;
    overflow: hidden;
    .diamond{
        z-index: 0;
        position: absolute;
        width: 525px;
        height: 525px;
        background: #D9C377;
        border-radius: 100px;
        transform: rotate(-135deg);
    }
    .diamond1{
        right: -324px;
        top: 800px;
    }
    .diamond2{
        left: -324px;
        top: 1500px;
    }
    .diamond3{
        right: -324px;
        top: 2230px;
    }
}
.use-cases{
    z-index: 33333;
    // height: 160px;
    margin-bottom: -38px;
    .use-cases__left{
        width: 75%;
        background: #F6F4EC;
        border-radius: 30px 0px 0px 30px;
        padding: 25px 30px;
        h4{
            @include font(32px, 'Poppins',600,48px, #444444);
        }
        p{
            @include font(16px, 'Poppins',normal,24px, #444444);
        }
    }
    .use-cases__right{
        width: 25%;
        background: #D9C377;
        border-radius: 0px 30px 30px 0px;
        padding: 25px 30px;
        h4{
            @include font(24px, 'Poppins',600,36px, #FFFEFA);
        }
    }
}
.ecommerce{
    .hd--mod1{display: none;}
    .bg-eco--mod{@include bg-set('./img/the-rest/body-content1-img.png', 55px, 115px, auto, no-repeat);}
    .row{ min-height: 652px;}
    .ecommerce-content__left{
        height: 520px;
        @include bg-set('./img/the-rest/encommerce-bg.png', 0px, 0px, contain, no-repeat);
    }
}
.advertisement{
    .hd--mod1{display: none;}
    .onl-ads{background: #F6F4EC;padding-top: 50px;min-height: 690px;}
    .ads-content__right{
        // height: 520px;
        // @include bg-set('./img/the-rest/online-advertisement-img.png', 40px, 0px, 90%, no-repeat);
        img{
            width: 100%;
        height: auto;
        }
    }
}
.casino{
    .hd--mod1{display: none;}
    .casino-platform{min-height: 720px;padding-top: 50px;}
    .bg-eco--mod{@include bg-set('./img/the-rest/decentrialized-left-1.png', -30px, 310px, auto, no-repeat);}
    .casino-content__left{
        margin-top: 25px;
        // height: 520px;
        // @include bg-set('./img/the-rest/decentrialized-left-2.png', center, center, contain, no-repeat);
        img{
        width: 100%;
        height: auto;
        }
    }
    .casino-content__right{
        .casino__text{
            min-height: 160px;
        }
    }
}
.gaming{
    z-index: 2;
    .gaming-body{
        min-height: 650px;
    }
}
.token{
    .bg-clone{
        @include bg-set('./img/the-rest/body-content1-img.png', 10px, -530px, contain, no-repeat);
    }
    .bg-eco--mod{ 
        min-height: 650px ;
        @include bg-set('./img/the-rest/token-bg.png', center, center, cover, no-repeat);
        .token-content--left{
            .token-p-mod{
                padding: 29px;
                background: #F6F4EC;
            }
        }
        .token-content--right{
            position: relative;
            @include bg-set('./img/the-rest/token-right-img.png', center, center, contain, no-repeat);
            #tk-m{
                display: none;
            }
            .text-block{
                position: absolute;
                background: #EBD79D;
                h5{@include font(11px, 'Poppins',normal,16px, #000);}
                p{@include font(10px, 'Poppins',normal,15px, #000);}
                transition: 0.4s ease-out;
                transform-origin: center center;
                &:hover{
                    transform: scale(1.1);
                    box-shadow: 0px 0px 20px 7px rgba(151, 150, 150, 0.582);
                }
            }
            .txt-block1{
                top: -30px;
                right: 0px;
                width: 228px;
                // height: 146px;
                padding: 13px 12px;
                border-radius: 6px 6px 6px 0px;
            }
            .txt-block2{
                bottom: 0px;
                left: 40px;
                width: 177px;
                // height: 181px;
                padding: 13px 12px;
                border-radius: 6px 0px 6px 6px;
            }
            .txt-block3{
                bottom: 0px;
                right: 38px;
                width: 177px;
                // height: 147px;
                padding: 13px 12px;
                border-radius: 0px 6px 6px 6px;
            }
        }
    }
}
.partner{
    background: #F9F9F9;
    padding: 40px 0px 60px 0px;
    .scroll{
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .partner-img{
        cursor: pointer;
        width: 170px;
        height: 128px;
        transition: 0.4s ease-out;
        &:hover{
            box-shadow: 0px 0px 8px 2px rgba(151, 150, 150, 0.582);
        }
    }
    @for $i from 1 through 18 {
        .partner#{$i}{
            @include bg-set('./img/partner/partner#{$i}.png', center, center, contain, no-repeat);
        }
    }
}
.blogs{
    min-height: 650px;
    .blog-block{
        cursor: pointer;
        max-width: 270px;
        border: none;
        transition: 0.4s ease-out;
        &:hover{
            box-shadow: 0px 0px 14px 7px rgba(151, 150, 150, 0.582);
        }
        .text-muted{
            @include font(12px, 'Poppins',lighter,18px, #979797); 
        }
    }
    .card-body{
        padding: 10px;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
    }
    button{
        cursor: pointer;
        border: none;
        background-color: #D9C377;
        @include font(13px, 'Poppins',lighter,19px, #04111C); 
        width: 200px;
        padding: 12px 30px;
        height: 43px;
        border: 1px solid transparent;
        transition: 0.4s ease-out;
        &:hover{
            border: 1px solid #D9C377;
            background: transparent;
            box-shadow: 0px 0px 15px 3px rgba(151, 150, 150, 0.582);
        }
    }
}
.contact{
    background: #D9C377;
    min-height: 180px;
    button{
        border: 1px solid #fff;
        cursor: pointer;
        border: none;
        background-color: #fff;
        @include font(13px, 'Poppins',lighter,19px, #04111C); 
        padding: 12px 70px;
        height: 43px;
        border: 1px solid transparent;
        transition: 0.4s ease-in-out;
        &:hover{
            box-shadow: 0px 0px 15px 2px rgba(151, 150, 150, 0.582);
            background-color: transparent;
            border: 1px solid rgba(243, 228, 177, 0.829);
            color: #fff;
        }
    }
}

.footer-wrap-mod{
        background-image: linear-gradient(90deg, #012F41, #03101B );
        .footer-content{
            height: 60px;
            p{
                @include font(13px, 'Poppins',500,19px, #fff); 
            }
            .social{
                .social__icon{
                    cursor: pointer;
                    width: 35px;
                    height: 35px;
                    border-radius: 100%;
                    background-color: rgb(50, 139, 223);
                    line-height: 35px;
                    font-size: 22px;
                    transform-origin: center center;
                    transition: 0.4s ease-out;
                    &:hover{
                        transform: scale(1.25);
                    }
                }
            }
        }
}
@media only screen and (max-width: 1024px){
    .container--mod{
        padding: 0px 20px;
    }
    header{
        position: relative;
    }
    .use{
        position: absolute;
        margin: 0px 3%;
        bottom: -32px;
    }
    .token{
        .row{
            .token-content--right{
                .txt-block2{
                    left: -10px;
                }
                .txt-block3{
                    right: 0px;
                }
            }
        }
    }
    .blogs{
        padding: 20px 0px;
        .blog-content{
            .blog-block{
                width: 22%;
                box-shadow: 0px 0px 6px 1px rgb(187, 187, 187);
                .card-img-top{
                    img{
                        width: inherit;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 991px){
    .navbar-expand-lg{
        max-height: 70px;
        position: relative;
        padding-bottom: 0px;
        #my-nav{
            transform: translateX(100%);
            position: absolute;
            top: 56px;
            right: -30px;
            width: 376px;
            background-color: #fff;
            padding: 4px 10px;
            height: 500px;
            ul{
                padding-right: 40px;
                li{
                    text-align: left;
                    padding: 0px 10px;
                    min-height: 44px;
                    &:hover{
                        background: #F6F4EC;
                    }
                    a{
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }

                }
                .dropdown-mod{
                    border: none!important;
                    background: #F6F4EC;
                    @include font(12px, 'Poppins',normal,18px, #444);
                }
            }
        }
        .move{
            animation: move 1s ease-in-out forwards;
            @keyframes move {
                0%{transform: translateX(100%);}
                100%{transform: translateX(0%);}
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .token{
        .bg-clone{display: none;}
        .bg-eco--mod{
            padding: 20px 0px;
            .container--mod{
                .row{
                    .token-content--left{
                        margin-top: 32px;
                        .token-p-mod{
                            padding: 15px!important;
                            @include font(14px, 'Poppins',normal,21px, #03121E);
                        }
                    }
                    .token-content--right{
                        background: unset!important;
                        .token-img{
                            #tk-m{
                                display: block;
                                margin: auto;
                            }
                        }
                
                        .text-block{
                            position: unset;
                            width: 100%;
                            border-radius: 6px;
                            margin: 7px 0px;
                            &:nth-last-child(1){
                                margin-bottom: 32px;
                            }
                        }
                    }
                }
            }
        }  
    }
}
@media only screen and (max-width: 767px){
    header{
        .header-banner{
            .header-banner__content{
                .header-banner__img{
                    img{
                        display: block;
                        width: 50%;
                        height: auto;
                        margin: 0px auto;
                    }
                }
            }
        }
    }
    .ecommerce{
        padding: 0px 20px;
        .hd--mod1{display: block;}
        .hd--mod2{display: none;}
        .container--mod{
            padding: 0px 14px;
        }
        .bg-eco--mod{@include bg-set('./img/the-rest/body-content1-img.png', 15px, 115px, 50% auto, no-repeat);}
        .ecommerce-content__left{
            background-position: center;
        }
    }
    .advertisement{
        .container--mod{
            padding: 0px 34px;
            .ads-content__right{
                img{
                    display: block;
                        width: 50%;
                        height: auto;
                        margin: 0px auto;
                }
            }
        }
    }
    .casino{
        .hd--mod1{display: block;z-index: 3;}
        .hd--mod2{display: none;}
        .container--mod{
            .row{
                .casino-content__left{
                    img{
                        display: block;
                        width: 50%;
                        height: auto;
                        margin: 0px auto;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 480px){
.h3-t1{@include font(27px, 'Poppins',600,40px, #444);}
.p-t1{@include font(16px, 'Poppins',normal,24px, #444);}
.h3-t2{@include font(21px, 'Poppins',600,31px, #444);}
.p-t2{@include font(13px, 'Poppins',normal,19px, #444);}
.token-p-mod2{@include font(14px, 'Poppins',normal,21px, #fff);}
.w-85{width: 100%;}
.container--mod{
    padding: 0px 12px;
}
.body-content{
    .diamond{
        width: 270px;
        height: 270px;
        border-radius: 50px;
    }
    .diamond1{
        right: -60%;
        top: 1490px;
    }
    .diamond2{
        left:-60%;
        top: 3250px;
    }
    .diamond3{
        right:-60%;
        top: 4500px;
        z-index: -1;
    }
}

    .sticky{
        @include font(12px, 'Poppins',normal,18px, #444);
        #dropdownMenuButton{
            @include font(12px, 'Poppins',normal,18px, #444);
        }
        .navbar-brand{
            #logo2{
                width: 64px;
                height: 30px;
            }
        }
    }
    .dropdown-toggle{
        width: 100%;
    }
    .navbar-expand-lg{
        max-height: 70px;
        position: relative;
        padding-bottom: 0px;
        #my-nav{
            display: none;
            transform: translateX(100%);
            position: absolute;
            top: 56px;
            right: 0px;
            width: 276px;
            background-color: #fff;
            padding: 4px 10px;
            height: 100vh;
            ul{
                padding-right: 40px;
                li{
                    padding: 0px 10px;
                    min-height: 44px;
                    &:hover{
                        background: #F6F4EC;
                    }
                    a{
                        padding-top: 12px;
                        padding-bottom: 12px;
                    }
                }
                .dropdown-mod{
                    background: #F6F4EC;
                    @include font(12px, 'Poppins',normal,18px, #444);
                }
            }
        }
        .move{
            display: block!important;
            animation: move 1s ease-in-out forwards;
            @keyframes move {
                0%{transform: translateX(100%);}
                100%{transform: translateX(20%);}
            }
        }
    }
    .banner{
        padding: 0px 14px;
        .container--mod{
            padding: 0px;
        }
        .use{
            bottom: -256px;
            margin-right: 20px;
            margin-left: 0px;
        }
        .header-banner__text{
            padding: 0px;
            h3{
                //font($size,$family,$weight,$height,$color)
                @include font(28px, 'Poppins',600,36px, white);
            }
            h4{
                @include font(18px, 'Poppins',500,27px, white);
            }
            p{
                @include font(14px, 'Poppins',300,21px, white);
            }
        }
        .header-banner{
            .header-banner__content{
                .header-banner__img{
                    img{ width: 100%;}
                }
            }
        }
        
    }
    .use-cases{
        flex-flow: row wrap;
        position: unset!important;
        .use-cases__left{
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            h4{
                @include font(27px, 'Poppins',600,40px, #444444);
            }
            p{
                @include font(16px, 'Poppins',normal,24px, #444444);
            }
        }
        .use-cases__right{
            width: 100%;
            border-radius: 0px 0px 15px 15px;
            h4{
                @include font(24px, 'Poppins',600,36px, #FFFEFA);
            }
        }
    }
.ecommerce{
    padding: 0px 12px;
    .hd--mod1{display: block;margin-top: 40px;}
    .hd--mod2{display: none;}
    .container--mod{
        padding: 0px;
    }
    .bg-eco--mod{@include bg-set('./img/the-rest/body-content1-img.png', 0px, 155px, 60% auto, no-repeat);}
}
.advertisement{
    .hd--mod1{display: block; z-index: 3;}
    .hd--mod2{display: none;}
    .ads__block{
        flex-flow: row wrap;
    }
    .ads-content__right{
        padding: 0px;
    }
    .container--mod{
        padding: 0px 14px;
        .ads-content__right{
            img{
                display: unset;
                    width: 100%;
                    height: auto;
                    margin: 0px auto;
            }
        }
    }
}
.casino{
    .hd--mod1{display: block;}
    .hd--mod2{display: none;}
    .container--mod{
        .row{
            .casino-content__left{
                padding: 0px;
                img{
                    display: unset;
                    width: 100%;
                    height: auto;
                    margin: 0px auto;
                }
            }
        }
    }
}
.gaming{
    .gaming-body{
        padding-right: 0px;
        .gaming-hd{
            p{
                width: 100%!important;
            }
        }
    }
}
.token{
    .bg-clone{display: none;}
    .bg-eco--mod{
        .container--mod{
            .row{
                .token-content--left{
                    margin-top: 32px;
                    padding: 0px;
                    .token-p-mod{
                        padding: 15px!important;
                        @include font(14px, 'Poppins',normal,21px, #03121E);
                    }
                }
                .token-content--right{
                    background: unset!important;
                    padding: 0px;
                    .token-img{
                        #tk-m{
                            display: block;
                            margin: auto;
                        }
                    }
            
                    .text-block{
                        position: unset;
                        width: 100%;
                        border-radius: 6px;
                        margin: 7px 0px;
                        &:nth-last-child(1){
                            margin-bottom: 32px;
                        }
                    }
                }
            }
        }
    }  
}
.partner {
    padding: 40px 14px 60px 14px;
    .container--mod{
        padding: 0px;
    }
    .partner-img{
        width: 45%;
        box-shadow: 0px 0px 4px 1px rgba(224, 224, 224, 0.671);
    }
    .img-collapse{
        justify-content: space-between!important;
        padding: 0px 5px;
    }
}
.contact{
    padding: 24px 0px;
    .row{
        div{
            padding: 0px;
        }
    }
    .btn-wrap{
        justify-content: center!important;
    }
}
.blogs{
    margin-bottom: 20px;
    overflow-x: scroll;
    min-width: 0;
    max-width: unset;
    .container--mod{
        .blog-block{
            margin-bottom: 20px;
            box-shadow: 0px 0px 7px 2px rgb(179, 179, 179);
            width: 46%;
            .txt-toggle{
                display: none;
            }
        }
    }
}
footer{
    .footer-wrap-mod{
    .footer-content{
        justify-content: space-evenly!important;
        height: 120px;
        flex-flow: column wrap;
    }
}
}
}