.form-register {
	height: 120vh;
	padding: 80px;
	background-image: linear-gradient(rgb(136, 71, 249), rgb(123, 28, 170), rgb(152, 97, 180));
	form {
		width: 560px;
		min-height: 600px;
		margin: 0 auto;
		// border: 1px solid;
		border-radius: 5px;
		padding: 16px 24px;
		.form-title {
			font-weight: 500;
			font-size: 20px;
			color: #9861b4;
		}
		.brand-block {
			text-align: center;
		}
		.brand-image {
			width: 120px;
		}
		.input-lable {
			font-weight: 500;
		}
		.form-input-text {
			height: 44px;
			padding: 12px;
			border: 1px solid #d5d5d5;
			border-radius: 4px;
			&:focus,
			&:focus-visible {
				outline: none;
				border-bottom-color: #9861b4;
			}
		}
		.btn-submit {
			width: 100%;
			background-color: #9861b4;
		}
	}
}
